/*Not sure figure and figcaption need to be here*/
html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/*Intro Page Styles*/
.logo {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/*Game styles*/
/*Total columns = 24*/
/*Total rows = 24*/
.game {
  display: block;
  float: left;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

/* Clear fix */
.clear:after {
  content: "";
  clear: both;
  display: table;
}

ul {
  list-style: none;
}

li {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background-color: black;
}

.alien-a {
  background-image: url("images/alien_a.png");
}

.alien-b {
  background-image: url("images/alien_b.png");
}

.alien-c {
  background-image: url("images/alien_c.png");
}

.bunker {
  width: 40px;
  height: 40px;
  background-color: #00FC00;
}

.header {
  height: 40px;
}

.laser, .alien-laser {
  border-left: 18px solid;
  border-right: 18px solid;
  border-top: 9px solid;
  border-bottom: 8px solid;
  width: 4px;
  height: 23px;
}

.laser {
  background-color: white;
}

.alien-laser {
  background-color: red;
}

.score {
  display: block;
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100px;
}

.ship {
  background-image: url("images/ship.png");
  background-repeat: no-repeat;
}
