html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

.game {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

ul {
  list-style: none;
}

li {
  display: block;
  float: left;
  /*border: 1px solid;*/
  width: 39px;
  height: 20px;
  margin: 1px;
}

/* eventually the aliens will be a different width than
the standard spaces */
/* May need a former ship class to keep formatting the same */
.alien {
  background-color: green;
}

.laser {
  background-color: blue;
  margin-left: 15px;
  margin-right: 15px;
  width: 9px;
}

.ship {
  background-color: red;
}
