/*Not sure figure and figcaption need to be here*/
html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
  /*Need to figure this out as well*/
  width: 960px;
  /*width: 570px;*/
  margin-left: auto;
  margin-right: auto;
}

/*Total columns = 24*/
/*Total rows = 24*/
.game {
  display: block;
  float: left;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

/* Clear fix */
.clear:after {
  content: "";
  clear: both;
  display: table;
}

ul {
  list-style: none;
  /*width: inherit;
  display: block;
  float: left;*/
}

li {
  display: block;
  float: left;
  /*border: 1px solid;*/
  /*width: 10px;
  height: 10px;*/
  width: 40px;
  height: 40px;
  background-color: black;
}

/* eventually the aliens will be a different width than
the standard spaces */
/* May need a former ship class to keep formatting the same */
.alien {
  /* Trying to make the grid more dynamic */
  /*width: 40px;
  height: 40px;*/
  background-image: url("alien.png");
}

.bunker {
  width: 40px;
  height: 40px;
  background-color: green;
}

.header {
  height: 40px;
}

.laser, .alien-laser {
  background-color: white;
  border-left: 18px solid;
  border-right: 18px solid;
  border-top: 9px solid;
  border-bottom: 8px solid;
  width: 4px;
  height: 23px;
}

.score {
  display: block;
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100px;
}

.ship {
  background-image: url("ship.png");
  background-repeat: no-repeat;
}
